In [2]:
import plotly.express as px
import pandas as pd

In [3]:
df = pd.read_csv('nba_team_stats_00_to_23.csv')
df['year'] = df['season'].str.split('-').str[0]
df.head()

,teamstatspk,Team,games_played,wins,losses,win_percentage,Min,points,field_goals_made,field_goals_attempted,...,assists,turnovers,steals,blocks,blocks_attempted,personal_fouls,personal_fouls_drawn,plus_minus,season,year
0,0,Boston Celtics,82,64,18,0.780,3966,9887,3601,7396,...,2207,979,557,538,304,1326,1416,930,2023-24,2023
1,1,Denver Nuggets,82,57,25,0.695,3941,9418,3610,7279,...,2415,1036,585,456,394,1489,1467,431,2023-24,2023
2,2,Oklahoma City Thunder,82,57,25,0.695,3961,9847,3653,7324,...,2223,1039,694,538,419,1545,1548,608,2023-24,2023
3,3,Minnesota Timberwolves,82,56,26,0.683,3961,9264,3383,6974,...,2184,1162,647,497,371,1544,1630,529,2023-24,2023
4,4,LA Clippers,82,51,31,0.622,3941,9481,3473,7108,...,2097,1078,640,413,384,1519,1537,269,2023-24,2023

In [4]:
df.drop(columns=['teamstatspk'], inplace=True)
df.columns

Index(['Team', 'games_played', 'wins', 'losses', 'win_percentage', 'Min',
       'points', 'field_goals_made', 'field_goals_attempted',
       'field_goal_percentage', 'three_pointers_made',
       'three_pointers_attempted', 'three_point_percentage',
       'free_throws_made', 'free_throw_attempted', 'free_throw_percentage',
       'offensive_rebounds', 'defensive_rebounds', 'rebounds', 'assists',
       'turnovers', 'steals', 'blocks', 'blocks_attempted', 'personal_fouls',
       'personal_fouls_drawn', 'plus_minus', 'season', 'year'],
      dtype='object')

In [5]:
print(df['win_percentage'].min())
print(df['win_percentage'].max())

0.106
0.89

In [7]:
x_axis_options = ['points', 'field_goal_percentage', 'three_pointers_attempted', 
                  'three_point_percentage', 'rebounds', 'assists', 'turnovers', 'free_throw_attempted']

# Loop through each x-axis option and print the min and max values
for column in x_axis_options:
    print(f'{column}: Min = {df[column].min()}, Max = {df[column].max()}')

points: Min = 5739, Max = 10110
field_goal_percentage: Min = 40.8, Max = 50.7
three_pointers_attempted: Min = 641, Max = 3721
three_point_percentage: Min = 27.8, Max = 41.6
rebounds: Min = 2560, Max = 4078
assists: Min = 1224, Max = 2522
turnovers: Min = 738, Max = 1514
free_throw_attempted: Min = 1198, Max = 2587

In [8]:
print(df['Team'].unique())

['Boston Celtics' 'Denver Nuggets' 'Oklahoma City Thunder'
 'Minnesota Timberwolves' 'LA Clippers' 'Dallas Mavericks'
 'New York Knicks' 'Milwaukee Bucks' 'New Orleans Pelicans' 'Phoenix Suns'
 'Cleveland Cavaliers' 'Indiana Pacers' 'Los Angeles Lakers'
 'Orlando Magic' 'Philadelphia 76ers' 'Golden State Warriors' 'Miami Heat'
 'Sacramento Kings' 'Houston Rockets' 'Chicago Bulls' 'Atlanta Hawks'
 'Brooklyn Nets' 'Utah Jazz' 'Memphis Grizzlies' 'Toronto Raptors'
 'San Antonio Spurs' 'Charlotte Hornets' 'Portland Trail Blazers'
 'Washington Wizards' 'Detroit Pistons' 'Los Angeles Clippers'
 'Charlotte Bobcats' 'New Orleans Hornets' 'New Jersey Nets'
 'Seattle SuperSonics' 'New Orleans/Oklahoma City Hornets'
 'Vancouver Grizzlies']